<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Nanrgal kadavule</h1>
    <div class="container">
      <div class="row">
        <div class="shadow-lg col-sm-4 p-2">
          <div class="card p-3">
            <img class="image" src="./assets/pictures/first_default.jpg" />
            <div class="card-body p-2">
              <h1>{{ Property.id }}</h1>
              <h2>{{ Property.name }}</h2>
              <h3>{{ Property.price }}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
